# --- Python & Environments ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.ipynb_checkpoints/

# --- Anaconda ---
anaconda_projects/

# Ignore the entire PyCharm settings folder
.idea/


# Ignore diagram files (draw.io, etc)
system_diagrams/

automation_scripts/.cache.sqlite
scripts/.cache.sqlite
*.sqlite

Project Report.docx